.mooli-regular {
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
#myVideo {
    padding:0;
    margin: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }
.Main {
    position: fixed;
    text-align: center;
    right: 20%;
    top: 20%;
    font-size: 1.10em ;
    color:rgb(79, 89, 231) ;
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.header {
    padding:0;
    margin: 0;
    color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Mooli", sans-serif;
    font-size: 2em;
    background-color: rgb(116, 66, 66, 0.5);
}

#social{
    right: 0;
    left: 0;
    text-align: center;
    width: 25%;
}
#music{
    right: 0;
    left: 0;
    text-align: center;
    width: 25%;

}
#summer{
    right: 0;
    left: 0;
    text-align: center;
    width: 25%;

}
#about{
    right: 0;
    left: 0;
    text-align: center;
    width: 25%;

}